/* ------------------- VARIABLES CSS ------------------- */
:root {
  --primary-color: #4CAF50;
  --secondary-color: #333;
  --background-color: #f4f4f4;
  --white: #ffffff;
  --danger-color: #f44336;
  --light-gray: #777;
  --hover-dark: #45a049;
}

/* ------------------- RESET GLOBAL ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: 0 auto;
}
